@keyframes drop{
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.home{
  text-align: center;
  width: 100vw;
  position: fixed;
  top: 25%;
}

.home > h2{
  padding-left: 30%;
}

.top{
  padding-right: 30%;
  font-size: 30px;
}

.home > h1{
  animation-name: drop;
  animation-duration: 3s;
}

.home > *{
  margin: 0;
}