.screenshot{
  display: block;
  max-width: min(80%, 1000px);
  border: solid black;
  border-radius: 10px;
}

.description{
  width: 100%;
}

.project > h2{
  font-size: 24px;
  margin-left: -5px;
}

a > img{
  margin: 10px;
}