.screenshot{
  display: block;
  max-width: min(80vw, 1000px);
  border: solid black;
  border-radius: 10px;
}

.project > h2{
  font-size: 30px;
  margin-left: -5px;
  margin-bottom: 5px;
}

a > img{
  margin: 10px;
}