.header{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  height: max(10vh, 25px);
  text-align: center;
  background-color: #003459;
  border-bottom: solid;
}

.link{
  color: white;
  font-size: 24px;
  line-height: 9vh;
}