.header{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  height: max(10vh, 25px);
  text-align: center;
  background-color: #003459;
  border-bottom: solid;
  z-index: 1;
}

.link{
  color: #1f2b37;
  font-size: 30px;
  line-height: 9vh;
}

@media (max-width: 768px){
  .link{
    font-size: 20px;
  }
}