:root {
  font-family: 'Courier New', Courier, monospace Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;

  color: #45d3a1;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}

a:hover {
  color: #945aff;
}

body { 
  position: relative;
  display: flex;
  margin: 0;
  place-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

body, .main, .home, #root{
  background-color: #1f2b37;
}

.header, .githubLink{
  background-color: #4f76f6;
}

h1 {
  font-size: 48px;
  line-height: 1.1;
  margin-left: -20px;
  display: inline-block;
  border-bottom: solid;
  border-width: 4px;
  border-image: linear-gradient(to right, white, #4f76f6, #945aff) 1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #00171F;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@keyframes fadeIn{
  from {
    transform: translateY(10%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.main{
  max-width: 100vw;
  min-height: 120vh;
  margin-left: 40px;
  margin-top: 11vh;
  padding-bottom: 50px;
  animation: fadeIn 1s; 
}

.home{
  animation: fadeIn 2s;
}

.main > *{
  max-width: 100vw;
}

.paragraph{
  max-width: min(85vw, 1100px);
}

.row{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

@media (max-width: 768px){
  h1{
    font-size: 36px;
  }
}